.filter-form {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.name-field {
  background-color: #fffff8;
  font-family: "Kanit";
  font-size: 0.9vw;
  border: 1px solid #cdcdcd;
  border-radius: 0.25rem;
  padding: 4px 16px;
}

.difficulty-field,
.county-field {
  font-family: "Kanit";
  font-size: 0.9vw;
  color: #ffffff;
  background-color: #f18b1c;
  border: none;
  border-radius: 0.25rem;
  padding: 4px 16px;
  cursor: pointer;
}
