.about-us {
  width: 80%;
}

.about-us > h2 {
  font-size: 2.7rem;
}

.about-us-container {
  display: flex;
}

.bio-text {
  font-size: 1.8rem;
}

.team-container {
  font-size: 1.2rem;
}

.image-container > img {
  width: 35vw;
}

.team-container > h2 {
  font-size: 2rem;
}