.welcome-main {
  width: 100%;
  height: calc(100vh - 68px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 200px;
  position: relative;
  overflow: hidden;
  background-image: url("../../assets/images/mainpic.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.welcome-message {
  font-size: 4rem;
  color: white;
  z-index: 2;
}

.button-welcome {
  color: black;
  background-color: #f18b1c;
  padding: 12px 40px;
  border: none;
  border-radius: 8px;
  z-index: 2;
  cursor: pointer;
}

.button-welcome:hover {
  background-color: #c87216;
}
