.AboutButton {
    position: fixed;
    bottom: .4vw;
    right: .4vw;
    width: 5.5vw;
}

.about-button {
    display: flex;
    justify-content: center;
    background-color:#f18b1c;
    font-family: "Kanit";
    color:#ffffff;
    font-size: 1.5vw;
    border-radius: .7vw;
    width: 5.5vw;
}

.about-button:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: all ease-in-out 0.3s;
    background-color:#c87216;
}