.card {
  width: 25vw;
  height: 14vw;
  margin: 1.5vw;
  display: flex;
  flex-direction: column;
  font-size: 1.4vw;
  cursor: default;
}

.card-top {
  display: flex;
  color: #000000;
  border-top: .21vw solid #cdcdcd;
  border-right: .21vw solid #cdcdcd;
  border-left: .21vw solid #cdcdcd;
  border-top-left-radius: .7vw;
  border-top-right-radius: .7vw;
  background-color: #fffff8;
  cursor: pointer;
}

.card-top:hover {
  border-top: .21vw solid #f18b1c;
  border-right: .21vw solid #f18b1c;
  border-left: .21vw solid #f18b1c;
}

.card-top:hover > .trail-county-container {
  transform: scale(1.1);
  transition: all ease-in-out 0.3s;
}  

.scenery-image {
  height: 10vw;
  width: 12.5vw;
  border-top-left-radius: .5vw;;
}

.trail-county-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 12.5vw;
  font-size: 1vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

.divider-bar {
  background-color: #cdcdcd;
  height: .1vw;
  margin-left: .1vw;
}

.card-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4vw;
  color:#ffffff;
  background-color:#5e2222;
  border-bottom-left-radius: .7vw;
  border-bottom-right-radius: .7vw;
}

.favorite-button, .delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#f18b1c;
  height: 4.5vw;
  width: 4.5vw;
  border: none;
  border-radius: 5vw;
  pointer-events: auto;
  margin-bottom: -1.2vw;
  margin-right: -3.5vw;
}

.favorite-button:hover, .delete-button:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all ease-in-out 0.3s;
}

.heart-image-container {
  height: 3vw;
  width: 3vw;
  background-image: url("../../assets/images/icons8-favorite-90.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.trash-image-container {
  height: 3vw;
  width: 3vw;
  background-image: url("../../assets/images/icons8-delete-trash-100.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}