.card {
  width: fit-content;
  height: 15vh;
  border: 3px solid #cdcdcd;
  border-radius: 8px;
  margin: 1.5vw;
  display: flex;
}

.image-button-container {
  display: flex;
}

.image-button-container > img {
  height: auto;
  width: auto;
}

.image-button-container > button {
  width: 4vw;
  height: 4vw;
  position: absolute;
}

.trail-name,
.county-name {
  text-align: left;
}

.distance-difficulty-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
