.Header {
  display: flex;
  font-family: "Changa One";
}

.banner {
  display: flex;
  align-items: center;
  background-color: #5e2222;
  width: 100%;
  padding: 8px 32px;
}

.title {
  color: #ffffff;
  margin: 0;
  font-size: 48px;
}

.title-r {
  color: #f18b1c;
}

.title:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all ease-in-out 0.3s;
  -webkit-text-stroke: 0.008vw #f18b1c;
}

.title:hover > .title-r,
.title-r:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all ease-in-out 0.3s;
  -webkit-text-stroke: 0.008vw #ffffff;
}
