.Header {
  display: flex;
  font-family: "Changa One";
  width: 100%;
}

.banner, .login-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #5e2222;
  width: 100%;
  height: 6vw;
}

.header-right {
  display: flex;
}

.login-banner {
  justify-content: center;
}

.title, .static-title {
  color: #ffffff;
  margin-left: 3vw;
  font-size: 3.75vw;
  cursor: default;
}

.static-title {
  margin-left: 0vw;
}

.title-r, .static-title-r{
  color: #f18b1c;
  cursor: default;
}

.title:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all ease-in-out 0.3s;
  -webkit-text-stroke: 0.008vw #f18b1c;
}

.title:hover > .title-r,
.title-r:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all ease-in-out 0.3s;
  -webkit-text-stroke: 0.008vw #ffffff;
}

.header-right {
  width: 28%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.saved-page-button {
  font-family:"Kanit";
  font-size: 1.5vw;
  color:#ffffff;
  background-color: #f18b1c;
  width: 10vw;
  border-radius: .7vw;
  margin-right: 1vw;
}

.account-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 1vw;
}

.welcome-user {
  font-family:"Kanit";
  font-size: 1.5vw;
  color:#ffffff;
  height: 1.75vw;
  margin-top: -1vw;
  cursor: default;
}

.sign-out {
  height: 2vw;
  font-size: 1vw;
  font-family: "Kanit";
  color:#ffffff;
  background-color:#f18b1c;
  border: none;
  border-radius: .7vw;
  margin-left: .5vw;
  cursor: pointer;
}

.sign-out:hover, .saved-page-button:hover{
  cursor: pointer;
  transform: scale(1.2);
  transition: all ease-in-out 0.3s;
  background-color:#c87216;
}
